<% messages.forEach(function(element) { %>
    <div>
      <p><strong><%= element.user_name %>:</strong> <%= element.text %></p>
      <p><em>Added: <%= element.date %></em></p>
    </div>
  <% }); %>
  <a href="/new">Create a new message</a>
      